@model List<Synapse.Data.ViewModels.ClassVM>

@{
    ViewData["Title"] = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container has-text-centered">
    <h1 class="title">View Classes</h1>
    <h2 class="subtitle">
        View and search through all classes.
    </h2>
    <label>
        <input class="input" type="text" placeholder="Search for classes by name..." style="width: 65%; margin-left: auto; margin-right: auto" id="classesSearchBar" onkeyup="classesTableSearchBar('classesTable', 'classesSearchBar')">
    </label>
    <div class="is-centered">

        <table id="classesTable" class="table" style="width: 65%; margin-left: auto; margin-right: auto">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Teacher Name</th>
                    <th>Period</th>
                    <th>Location</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Period)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Admin" asp-action="ViewClass" asp-route-classid=@item.ClassId>
                            <button class="button is-primary is-small">View</button>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>