
@{
    ViewData["Title"] = "AddStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container has-text-centered" style="width: 65%;">
        <h1 class="title">Add Students</h1>
        <h2 class="subtitle">Add a student to the gradebook.</h2>

        <hr />
        <div style="width: 50%; margin-left: auto; margin-right: auto;">
            <div class="field">
                <label class="label">First Name</label>
                <div class="control has-icons-right">
                    <input type="text" class="input" name="firstname" id="firstnameInput" placeholder="first name" />
                </div>                
            </div>
            <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                    <input type="text" class="input" name="lastname" id="lastnameInput" placeholder="last name" />
                </div>
            </div>
            <div class="field">
                <label class="label">Email Address</label>
                <div class="control">
                    <input type="text" class="input" name="email" id="emailInput" placeholder="student email" />
                </div>
            </div>
            <div class="field">
                <label class="label">Grade Level</label>
                <div class="control">
                    <input type="number" class="input" name="gradelevel" id="gradelevelInput" placeholder="grade level" />
                </div>
            </div>
        </div>
    </div>