<table class="table is-hidden" style="margin:auto; margin-bottom: 1rem;" width="75%" id="@Html.DisplayFor(modelItem => enrolledClass.ClassId)">
    <thead>
        <tr>
            <th>Assignment Name</th>
            <th>Category</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Comp Sci Test</td>
            <td>Test</td>
            <td>80%</td>
        </tr>
    </tbody>
</table>