@model List<Synapse.Data.Models.Student>
@using System.Web;

<div class="modal" id="selectStudentModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Select Student</p>
            <button type="button" class="delete modalClose" aria-label="close" onclick="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <label>
                <input class="input" type="text" placeholder="Search for students by name..." id="studentsSearchBar" onkeyup="namesTableSearchBar('studentsTable', 'studentsSearchBar')">
            </label>
            <div class="is-centered">

                <table id="studentsTable" class="table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Model)
                        {
                            <tr>
                                <td>@student.StudentFirstName</td>
                                <td>@student.StudentLastName</td>
                                <td>
                                    <button type="button" onclick="newStudent('@Html.Raw(HttpUtility.JavaScriptStringEncode(student.StudentFirstName + " " + student.StudentLastName))','@Html.Raw(student.StudentId)')" class="button is-primary is-small modalClose">
                                        Select
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button modalClose" onclick="closeModal()">Cancel</button>
        </footer>
    </div>
</div>