
@{
    ViewData["Title"] = "Add Referral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container has-text-centered" style="width: 65%;">
        <h1 class="title">Submit Referral</h1>
        <h2 class="subtitle">Submit a referral for a student.</h2>

        <hr />
        <div style="width: 50%; margin-left: auto; margin-right: auto;">

            <div id="studentsModal" data-url="@Url.Action("_SelectStudent", "Teacher")">
                <div id="studentsModalContainer"></div>
            </div>

            @using (Html.BeginForm("AddReferral", "Teacher", FormMethod.Post))
            {
                <div class="field">
                    <label class="is-size-4 has-text-weight-bold">Select Student</label>
                    <br />
                    <button id="selectStudentBtn" type="button" class="button is-primary"><div id="currentlySelectedStudentText"><p>Select Student</p></div></button>
                </div>
                
                <div class="field">
                    <label class="is-size-4 has-text-weight-bold">Description</label>
                    <div class="control">
                        <textarea type="text" required class="textarea" name="description" id="descriptionInput" placeholder="Enter a description of the incident..." ></textarea>
                    </div>
                    
                </div>
                <button class="button is-primary">Submit</button>
                <input name="studentid" id="studentid" hidden value="" />
            }
        </div>
    </div>

<script src="~/js/addReferral.js"></script>