@model Synapse.Data.ViewModels.GradesVM

@{
    ViewData["Title"] = "Grades";
}

    <div class="container" style="margin-left: auto; margin-right: auto;">
        <div class="select" id="change">
            <select onchange="change()" id="changeSection">
                <option>View Grades</option>
                <option>Manage Assignments</option>
            </select>
        </div>
        <partial name="~/Views/Teacher/_ViewGrades.cshtml" />
        <partial name="~/Views/Teacher/_ManageAssignments.cshtml" />
    </div>

<script src="~/lib/signalr/dist/browsers/signalr.js"></script>
<script src="~/js/grades.js"></script>