@{
    ViewData["Title"] = "Subjects";
}

<div class="container" style="width: 75%; margin-left: auto; margin-right: auto;">
    <div>
        <h1 class="title" style="font-weight: normal;">Viewing subject <span class="has-text-weight-bold">AP Computer Science</span></h1>
        <hr>
        <div class="" style="margin-bottom: 2rem;">
            <div class="table-container">
                <table id="subjects" class="table is-fullwidth is-narrow gradesTable">
                    <thead>
                        <tr>
                            <th>Assignment Name</th>
                            <th>Grade Weight</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Edhesive Quiz</td>
                            <td>1</td>
                            <td>8/2/2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>