@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container" style="width: 65%; margin-left: auto; margin-right: auto;">
    <div>
        <h1 class="title">@ViewData["Title"]</h1>
        <h2 class="subtitle">Register your account.</h2>
        <section>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div asp-validation-summary="All" class="has-text-danger"></div>
                <div class="field">
                    <label class="label" asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="input" />
                    <span asp-validation-for="Input.Email" class="has-text-danger"></span>
                </div>
                <div class="field">
                    <label class="label" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="input" />
                    <span asp-validation-for="Input.Password" class="has-text-danger"></span>
                </div>
                <div class="field">
                    <label class="label" asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="input" />
                    <span asp-validation-for="Input.ConfirmPassword" class="has-text-danger"></span>
                </div>
                <button type="submit" class="button is-primary">Register</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
