@model AGGS.Data.ViewModels.GradesVM

@{
    ViewData["Title"] = "Grades";
}

    <div class="container" style="margin-left: auto; margin-right: auto;">
        <div class="select" id="change">
            <select onchange="change()" id="test">
                <option>Input Grades</option>
                <option>Add Assignments</option>
            </select>
        </div>
        <partial name="~/Views/Teacher/_InputGrades.cshtml" />
        <partial name="~/Views/Teacher/_AddAssignment.cshtml" />
    </div>

<script src="~/lib/signalr/dist/browsers/signalr.js"></script>
<script src="~/js/grades.js"></script>