@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Manage your account</h1>

<div>
    <h1 class="subtitle">Change your account settings</h1>
    <hr />
    <div class="columns">
        <div class="column is-one-quarter">
            <partial name="_ManageNav" />
        </div>
        <div class="column">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
