@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h2 class="subtitle">@ViewData["Title"]</h2>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="columns">
    <div class="column is-half">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="has-text-danger"></div>
            <div class="field">
                <label class="label" asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="input" />
                <span asp-validation-for="Input.OldPassword" class="has-text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="input" />
                <span asp-validation-for="Input.NewPassword" class="has-text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="input" />
                <span asp-validation-for="Input.ConfirmPassword" class="has-text-danger"></span>
            </div>
            <button type="submit" class="button is-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}